
# TP2 – Pandas : Filtrage avec `iloc[]`, `loc[]`, `query()` 🔍

**Objectifs :**
- Savoir filtrer les lignes d’un DataFrame
- Utiliser `iloc[]` pour filtrer par position
- Utiliser `loc[]` pour filtrer avec des conditions
- Utiliser `query()` pour des filtres avancés

In [ ]:

import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("pokemon_data.csv")
df.head()

## Filtrage avec `iloc[]` (par index)

In [ ]:

# Affiche la valeur à la 2ème ligne, 5ème colonne
df.iloc[2, 4]

In [ ]:

# Les 5 premières lignes et 5 premières colonnes
df.iloc[:5, :5]

In [ ]:

# Bar chart des colonnes [1:5] pour les 5 premières lignes
df.iloc[:5, 1:5].plot.bar()
plt.show()

In [ ]:

# Une seule ligne en série
df.iloc[5]

In [ ]:

# Une seule ligne en DataFrame
df.iloc[[5]]

In [ ]:

# Toutes les lignes de la colonne "Name"
df.iloc[:, 1]

In [ ]:

# Toutes les lignes des colonnes "Name" et "Defense"
df.iloc[:, [1, 6]]

In [ ]:

# Histogramme des valeurs de "Defense"
df.iloc[:, [6]].plot.hist(title="Répartition de la défense")
plt.xlabel("Defense")
plt.show()

## Filtrage avec `loc[]` (par nom + conditions)

In [ ]:

# Filtrer tous les Pokémon qui ne sont pas légendaires
df.loc[df['Legendary'] == False]

In [ ]:

# Pokémon non légendaires ET de type 'Grass'
df.loc[(df['Legendary'] == False) & (df['Type 1'] == 'Grass')]

In [ ]:

# Exclure les Pokémon 'Grass' non légendaires (~ = NOT)
df.loc[~((df['Type 1'] == 'Grass') & (df['Legendary'] == False))]

## Filtrage avec `query()`

In [ ]:

# HP > 40 ET Attack < 100
df.query('(HP > 40) and (Attack < 100)')

In [ ]:

# Utilisation d'une variable dans query()
min_hp = 70
df.query('HP > @min_hp')


## ✅ Fin du TP2
Tu maîtrises maintenant les fonctions de filtrage de Pandas avec `iloc`, `loc` et `query()`.